<ul class="company-list">
<% 
    for (var i=0, len=companies.length ; i<len ;++i ) {
    var company = companies[i];
%>
        
    <li class="<%=i%2?'odd': ''%> "><a href="/company/<%=company.id%>"> <img src="<%=company.logo%>" /><%=company.name%></a></li>
<% 
    }
%>
         

</ul>