<table cellpadding="0" cellspacing="1" style="width: 100%; border: solid 1px #d2d9df" summary="" class="content_table">
    <thead style="height: 30px;">
        <tr style="background-color: #efefef">
            <th>Address</th>
            <th>Phone</th>
        </tr>
    </thead>

<% 
    for (var key=0; key<points.length;key++) {
        var point = points[key];
%>
    <tr style="background-color: #<%= key % 2 == 0? "fdfeff" : "efefef" %>">
        <td><%= point.address %></td>
        <td><%= point.phone %></td>
    </tr>
<% 
    }
%>
</table>