html {
	height: 100%;
}
body {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial;
    background-image: url('/static/images/background_outer.png');
    height: 100%;
}

.container {
    width: 1194px;
    height: 100%;
    margin: auto;
}

.header {
    margin: 0 auto;
    width: 1172px;
    height: 104px;
    border: solid 1px #a3bfcc;
    border-top: 0;
    border-bottom: solid 1px #d2d9df;
    background-color: #FFFFFF;
}

.header_logo {
    padding: 36px;
}

.content_container {
    margin: 0 auto;
    width: 1172px;
    height: 100%;
    border: solid 1px #a3bfcc;
    border-top: 0;
    border-bottom: solid 1px #d2d9df;
    background: url('/static/images/background_inner.png');
}

.left_menu {
    padding-top: 85px;
    width: 305px;
 }

.menu_item {
    height: 20px;
    padding: 10px 50px;
}

.menu_separator {
    width: 225px;
    border-top: solid 1px #dfdede;
    background-color: #ffffff;
    height: 1px;
    margin: 5px auto;
}

.left_menu a {
    color: #3d485f;
    text-decoration: none;
}

.left_menu a:hover {
    text-decoration: underline;
}

.left_menu .active a {
    color: #3d485f;
    font-weight: bold;
    text-decoration: none;
}

.left_menu .active a:hover {
    text-decoration: underline;
}


.left_shadow {
    background: url('/static/images/shadow_rl.png') repeat-y transparent;
}

.right_shadow {
    background: url('/static/images/shadow_lr.png') repeat-y transparent;
    width: 10px;
}

.content {
    padding: 45px;
    width: 780px;
    height: 100%;
}

.content_block {
    padding: 0 55px 55px 55px;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.content td.title {
    font-style: italic;
    font-weight: bold;
    height: 85px;
    color: #455172;
}

.content div.title {
    font-style: italic;
    font-weight: bold;
    color: #455172;
}

.content .body {
    vertical-align: top;
}


.content_table th{
    padding: 4px;
    text-align: center;
    height: 40px;
}

.content_table td{
    padding: 4px;
    text-align: center;
    height: 40px;
}

a {
    color: #3d485f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.pager {
    
}

.pager li{
    display: inline-block;
    width: 20px;
}

.pager li a{
    display: block;
    width: 18px;
    height: 18px;
    padding: 1px;
    text-align: center;
    text-decoration: none;
}

.pager li a:hover{
    background-color: #4090e7;
    text-decoration: none;
    border: solid 1px #015ffc; 
    color: #ffffff;
    padding: 0;
}


.pager .active a{
    background-color: #4090e7;
    text-decoration: none;
    border: solid 1px #015ffc; 
    color: #ffffff;
    padding: 0;
}


.feed_container {
    width: 292px;
    height: 313px;
    padding: 12px;
    border: solid 1px #d1d1d1;
    background: url("/static/images/background_inner_light.png") transparent;
    display: inline-block;
    margin-bottom: 25px;
}

.feed_left_block {
    margin-right: 25px;
}

.feed_container .photo {
    width: 292px;
    height: 254px;
}

.feed_container .description {
    width: 292px;
    text-align: left;
    padding: 10px 3px;
    font-style: italic;
    color: #767676;
    font-size: 18px;
}

.filter {
    color: #455172;
    background: url("/static/images/filter_background.png") no-repeat;
    width: 664px;
    height: 43px;
    padding-top: 8px;
    margin-bottom: 20px;
}

.filter .button {
    background: url("/static/images/filter_button.png") no-repeat;
    display: inline-block;
    width: 88px;
    height: 28px;
    text-align: center;
    padding-top: 7px;
    color: #455172;
    cursor: pointer;
}

.filter .button:hover {
    background: url("/static/images/filter_button_active.png") no-repeat;
}

.filter .button_active {
    background: url("/static/images/filter_button_active.png") no-repeat;
    display: inline-block;
    width: 88px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    color: #455172;
    cursor: pointer;
}

.filter .title {
    display: inline-block;
/*    margin: 0 20px;*/
    margin: 7px 0 0 15px;
}

.filter .title select {
    width: 115px;
}

.filter .title input {
    width: 80px;
}

.contact_form td{
    vertical-align: top;
    padding: 5px;
}

.contact_form label{
    color: #455172;
    width: 100px;
    display: block;
}

.contact_form input[type=text],textarea {
    width: 300px;
}

.contact_form input[type=submit] {
    width: 150px;
}

.left {
    position: relative;
    float: left;
}

.right {
    position: relative;
    float: right;
}

.logo {
    width: 217px;
    height: 226px;
    background: url("/static/images/photo_background.png") no-repeat;
    padding: 10px 15px
}

.button_upload {
    background: url("/static/images/upload_photo_btn.png") no-repeat;
    width: 236px;
    height: 47px;
    margin-left: 5px; 
    margin-top: 10px;
    cursor: pointer;
}

.label {
    font-weight: bold;
}

.field {
    margin: 5px 0 15px 0;
}

.field input[type=text] {
    width: 295px;
    height: 25px;
    color: #455172;
    padding: 0 10px;
}
.hidden {
    display: none;
}

.hint {
    position: absolute;
    
    background: url("/static/images/feed_hint_background.png") no-repeat transparent -5px -2px;
    width: 330px;
    height: 352px;
    padding-left: 13px;
    padding-top: 13px;
    color: #ffffff;
    
}

.hint td {
    padding: 10px;
    height: 30px;
}

.black_10 {
    background: url("/static/images/black_10.png");
}

.black_20 {
    background: url("/static/images/black_20.png");
}